{% extends "layouts/base_admin.twig" %}

{% block content_admin %}

<!-- Content Header (Page header) -->
<section class="content-header">

  <h1>
    Produtos da Categoria {{ category.descategory }}
  </h1>
  <ol class="breadcrumb" aria-label="breadcrumbs">
    <li><a href="{{ base_url() }}/admin/main"><i class="fa fa-dashboard"></i> Home</a></li>
    <li><a href="{{ base_url() }}/admin/categories">Categorias</a></li>
    <li><a href="{{ base_url() }}/admin/categories/{{ category_id }}">{{ category_name }}</a></li>
    <li class="is-active"><a href="{{ base_url() }}/admin/categories/{{ category_id }}/products" aria-current="page">Produtos</a></li>
  </ol>
</section>

<!-- Main content -->
<section class="content">

    <div class="columns">
        <div class="column is-half">
            <div class="box box-primary">
                <div class="box-header with-border">
                <h3 class="box-title">Todos os Produtos</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Produto</th>
                            <th style="width: 100px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in productsNotRelated %}
                            <tr>
                            <td>{{ product.idproduct }}</td>
                            <td>{{ product.desproduct }}</td>
                            <td>
                                <a href="{{ base_url() }}/admin/categories/{{ category_id }}/products/{{ product.idproduct }}/add" class="button is-success is-small pull-right"><i class="fa fa-plus pr-2"></i> Adicionar</a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="column is-half">
            <div class="box box-success">
                <div class="box-header with-border">
                <h3 class="box-title">Produtos na Categoria {{ category_name }}</h3>
                </div>
                <!-- /.box-header -->
                <!-- form start -->
                <div class="card">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                            <th style="width: 10px">#</th>
                            <th>Nome do Produto</th>
                            <th style="width: 100px">&nbsp;</th>
                            </tr>
                        </thead>
                        <tbody>
                        {% for product in productsRelated %}
                            <tr>
                            <td>{{ product.idproduct }}</td>
                            <td>{{ product.desproduct }}</td>
                            <td>
                                <a href="{{ base_url() }}/admin/categories/{{ category_id }}/products/{{ product.idproduct }}/remove" class="button is-danger is-small pull-right"><i class="fa fa-minus pr-2"></i> Remover</a>
                            </td>
                            </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>        
    </div>

</section>
<!-- /.content -->

{% endblock %}