{% extends "layouts/base_site.twig" %}

{% block title %}Hcode - Categoria{% endblock %}

{% block content_site %}

<div class="product-big-title-area">
    <div class="container">
        <div class="columns">

            <div class="column is-full">
                <div class="product-bit-title text-center">
                    <h2>{{ category.descategory }}</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">

        <div class="columns is-multiline">
            {% for product in productsRelated %}
            <div class="column is-one-quarter">
                <div class="single-shop-product">
                    <div class="content">
                        <div class="card-image">
                            <figure class="image is-4by3">
                                <img src="{{ base_url()}}/images/{{ product.desimage }}.png" alt="">
                            </figure>
                        </div>
                    <h2><a href="">{{ product.desproduct }}</a></h2>
                    </div>
                    <div class="content">
                        <div class="product-carousel-price">
                            <ins>{{ product.vlprice | format_currency('BRL') }}</ins>
                        </div>
                    </div>
                    
                    <div class="product-option-shop">
                        <a class="add_to_cart_button" data-quantity="1" data-product_sku="" data-product_id="70" rel="nofollow" href="/canvas/shop/?add-to-cart=70">Add to cart</a>
                    </div>                       
                </div>
            </div>
            {% endfor %}
        </div>


        <div class="columns">
            <div class="column is-full">
                <nav class="pagination" role="navigation" aria-label="pagination">

                    <a class="pagination-previous" title="This is the first page" {{ productsRelated.currentPage() == (1) ? 'disabled' : '' }}>
                        Previous
                    </a>
                    <a href="{{ base_url() }}/site/category?id={{ id }}{{ productsRelated.url(productsRelated.currentPage() + 1) }}"
                       class="pagination-next" {{ (productsRelated.currentPage() == productsRelated.lastPage()) ? ' disabled' : '' }}>
                        Next page
                    </a>

                    <ul class="pagination-list">
                        {% for i in 1..productsRelated.lastPage() %}
                         <li>
                            <a href="{{ base_url() }}/site/category?id={{ id }}&page={{ i }}"
                               class="pagination-link {{ productsRelated.currentPage() == (i)  ? ' is-current' : '' }}"
                               aria-label="Page 1" aria-current="page">{{ i }}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>

{% endblock %}

