{% extends "layouts/base_site.twig" %}

{% block title %}Hcode - Login{% endblock %}

{% block content_site %}

<div class="product-big-title-area">
    <div class="container">
        <div class="columns">
            <div class="column is-full">
                <div class="product-bit-title has-text-centered-desktop">
                    <h2>Autenticação</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="single-product-area">
    <div class="zigzag-bottom"></div>
    <div class="container">
        <div class="columns is-variable is-5">

            <div class="column is-half">
                <div class="card-bulma">
                <div class="card-content has-background-light">
                <form action="{{ path_for('site.login') }}" class="login" method="post">
                    <div class="content">
                        <h2 class="has-text-centered">Acessar</h2>
                    </div>

                    <div class="field">
                        <label class="label" for="login">Login <span class="required">*</span></label>
                        <div class="control">
                            <input type="text" id="login" name="login"
                                   class="input" {{ session.user > 0 ? 'disabled' : '' }}>
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="password">Senha <span class="required">*</span></label>
                        <div class="control">
                            <input type="password" id="password" name="password" class="input" {{ session.user > 0 ? 'disabled' : '' }}>
                        </div>
                    </div>

                    <div class="is-clearfix"></div>

                    <div class="field">
                        <div class="control">
                            <label class="checkbox">
                                <input type="checkbox">
                                Manter conectado
                            </label>
                        </div>
                    </div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-success"> Login</button>
                        </div>
                    </div>
                    <p class="lost_password">
                        <a href="{{ path_for('site.forgot') }}">Esqueceu a senha?</a>
                    </p>

                    <div class="clearfix"></div>
                </form>
                </div>
                </div>
            </div>

            <div class="column is-half">
                <div class="card-bulma">
                    <div class="card-content has-background-light">
                <form action="{{ path_for('site.create-user') }}" class="register" method="post">
                    <div class="content">
                        <h2 class="has-text-centered is-capitalized">criar conta</h2>
                    </div>

                    <div class="field">
                        <label class="label" for="nome">Nome Completo <span class="required">*</span></label>
                        <div class="control">
                            <input type="text" id="nome" name="name" class="input" value="">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="email">E-mail <span class="required">*</span></label>
                        <div class="control">
                            <input type="email" id="email" name="email" class="input" value="">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="phone">Telefone</label>
                        <div class="control">
                            <input type="text" id="phone" name="phone" class="input" value="" placeholder="(xx)xxxx-xxxx">
                        </div>
                    </div>

                    <div class="field">
                        <label class="label" for="senha">Senha <span class="required">*</span></label>
                        <div class="control">
                            <input type="password" id="senha" name="password" class="input">
                        </div>
                    </div>

                    <div class="is-clearfix"></div>

                    <div class="field is-grouped">
                        <div class="control">
                            <button type="submit" class="button is-success"> Criar Conta</button>
                        </div>
                    </div>

                    <div class="clearfix"></div>
                    </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock %}